<!DOCTYPE html>
<html>
@using System.Web.Optimization
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Адміністрування налаштувань - @RenderSection("TitleContent", required: false)</title>

    @Styles.Render("~/bundles/admin.css")
    @Styles.Render("~/bundles/alert.css")
    @*@Styles.Render("~/bundles/datatables.css")*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    @*@Styles.Render("~/bundles/modernizr.css")*@

    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div id="header">
        <div class="shell">
            <div id="top">
                <h1 class="text-center">Administration Board</h1>
                <div id="top-navigation">
                    @Html.ActionLink("ВЕРНУТИСЬ НА ГОЛОВНУ", "Index", new { area = "", controller = "Home" })
                    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage", area = "", href = "/Account/Manage" }) !
                    @Html.ActionLink("Sign out", "Logout", new { area = "", controller = "Account" })
                </div>
            </div>
            <div>
                <ul class="admin_menu nav nav-tabs">
                    <li>@Html.ActionLink("Категорії НК (групи розсилки)", "Index", new { area = "Admin", controller = "Category" }) </li>
                    <li>@Html.ActionLink("Редактор новин (розсилки)", "Index", new { area = "Admin", controller = "News" })</li>
                    <li>@Html.ActionLink("Проекти НК по категоріям", "Index", new { area = "Admin", controller = "Project" }) </li>
                    <li>@Html.ActionLink("Управління правами користучів", "Index", new { area = "Admin", controller = "Role" }) </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="shell">
            <br />
            @Html.Partial("_SucceedMessage")
            @Html.Partial("_ErrorMessage")
            <div id="main">
                <div class="cl">&nbsp;</div>
                @RenderBody()
                <div class="cl">&nbsp;</div>
            </div>
        </div>
    </div>

    @*<div id="footer">
            <center class="text-center">НК Супутник &copy; @DateTime.Now.Year</center>
        </div>*@

    @Scripts.Render("~/bundles/jquery.js")
    @Scripts.Render("~/bundles/jqueryval.js")
    @Scripts.Render("~/bundles/bootstrap.js")
    @Scripts.Render("~/bundles/alert.js")

    @*@Scripts.Render("~/bundles/datatables.js")*@

    @*<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"> </script>*@
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //Hightlight selected tab
            var str = location.href.toLowerCase();
            $('ul.admin_menu li a').each(function () {
                if (str.indexOf(this.href.toLowerCase()) > -1) {
                    $(this).addClass("current");
                }
            });

            //MODALS
            //Remove cached data in modal window
            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });
            //Handle errors in modal (as alert message)
            $('body').on('shown.bs.modal', '.modal', function () {
                var modalW = $(this);
                var btnSubmit = $(modalW).find('.delete'); //or update
                if (btnSubmit) {
                    $(btnSubmit).on('click', function (e) {
                        try {
                            var theModal = $(this).closest('.modal').find('form');
                            var url = theModal.attr('action'); // href
                            $.post(url)
                                .done(function (response) { })
                                .fail(function (response) {
                                    //var errorMsg = (response.error) ? response.error.message : response.message;
                                    var errorMsg = 'Error to delete(update) record. Seems to be related child tables\records, related to this one';
                                    swal({
                                        title: "Error",
                                        text: errorMsg,
                                        type: "warning",
                                        showCancelButton: false,
                                        closeOnConfirm: true
                                    }, function () {
                                        var theModal = $(this).closest('.modal').find('form');
                                        theModal.modal("hide");
                                    });
                                });
                        }
                        catch (ex) {
                            e.preventDefault();
                            swal('error', ex.message);
                        }
                    });
                }
            });

        });
    </script>

    <script type="text/javascript">
        $(function () {
            //Create filterable tables
            (function () {
                var options = {
                    responsive: true,
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "scrollY": 200,
                    "dom": '<"top"Bf>rt<"bottom"lip><"clear">',//display on bottom paging
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }],
                    "buttons": ['excel', 'pageLength']
                };

                $('.filterable').dataTable(options);
                //can filter by columns https://datatables.net/examples/api/regex.html

            })();
        });
    </script>

    <script type="text/javascript">

        function successMessage(msg) {
            swal({
                title: 'Success',
                text: msg,
                type: 'success',
                showCancelButton: false,
                closeOnConfirm: true
            }, function () {
                window.location.reload();
            });
            return false;
        }

        function infoMessage(msg) {
            swal({
                title: 'Info',
                text: msg,
                type: 'info',
                showCancelButton: false,
                closeOnConfirm: true
            }, function () {
                window.location.reload();
            });
            return false;
        }

        function errorMessage(msg) {
            swal('Error !', msg, 'error');
        }

    </script>
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
