@model ProjectMemberViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.User
@using Sattelite.EntityFramework.ViewModels.Admin.Project
@using Sattelite.Web
@{
    ViewBag.Title = "Виберіть учасника і роль у проекті ?"; //Please, select a new member of the project and his\her role!
    Layout = null;
    var allUsers = AppCach.AllUsers.ToList();
    var allProjectRoles = AppCach.AllProjectRoles.ToList();
}


@using (Html.BeginForm("AddProjectMember", "Project",
    new
    {
        area = "Admin",
        controller = "Project",
        @projectId = Model.ProjectId,
        @projectRoleId = Model.ProjectRoleId,
        @userId = Model.UserId
    }, FormMethod.Post))
{
    <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="AreaMember" class="modal-title panel-title">@ViewBag.Title </h3>
    </div>
    <div class="modal-content">
        <div class="form">
            <div class="row">
                <div class="col-md-6">
                    <label for="UserId" class="control-label">User: </label>
                    @Html.DropDownListFor(model => model.UserId, new SelectList(allUsers, "Id", "UserName", Model.UserId), new { Class = "form-control" })
                </div>
                <div class="col-md-6">
                    <label for="ProjectRoleId" class="control-label">Project role:</label>
                    @Html.DropDownListFor(model => model.ProjectRoleId, new SelectList(allProjectRoles, "Id", "Name", Model.ProjectRoleId), new { Class = "form-control" })
                </div>
            </div>
        </div>

        @Html.Partial("_SucceedMessage")
        @Html.Partial("_ErrorMessage")
        @Html.ValidationSummary(true)

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
            <button type="submit" class="btn btn-success col-md-offset-2"> Add </button>
        </div>
    </div>
        }

