@using System.Web.Optimization
@using Sattelite.EntityFramework.ViewModels.Admin.Project
@using Sattelite.Web
@model ProjectCreatingViewModel
@{
    ViewBag.Title = "Створення проекту";

    var allProjects = AppCach.AllProjects;
    var allCategories = AppCach.AllCategories;// ?? Model.AllCategories;
    var allUsers = AppCach.AllUsers;// ?? Model.AllUsers;
}

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box">
        <div class="box-head"> @ViewBag.Title </div>
        <div class="form">
            <p>
                <span class="req">max 100 symbols</span>
                <label for="Name">Назва<span>(*)</span></label>
                @Html.TextBoxFor(x => x.Name, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </p>
            <p class="inline-field">
                <label>Категорія</label>
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(allCategories, "Id", "Name", Model.CategoryId), new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
            </p>
            <p>
                <label for="CoordinatorId">Куратор</label>
                @Html.DropDownListFor(x => x.CoordinatorId, new SelectList(allUsers, "Id", "UserName", Model.CoordinatorId), new { Class = "field size3" })
            </p>
            <p>
                <label for="ShortDescription">Опис<span>(*)</span></label>
                @Html.TextAreaFor(x => x.ShortDescription, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.ShortDescription, null, new { @class = "text-danger" })
            </p>
            <p>
                <label for="Content">Основний контент</label>
                @Html.TextAreaFor(x => x.Content, new { Class = "field size1" })
            </p>
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
}