@using Sattelite.EntityFramework.ViewModels
@model RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="badge text-center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset class="form-horizontal">
            <legend>Створити новий аккаунт</legend>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @*@Html.LabelFor(m => m.UserName, new  { @class="col-md-5 control-label"})*@
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User Name", @class = "col-md-5 form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "col-md-5 form-control" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })*@
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(m => m.Password, "Пароль не вірний", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })*@
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button class="btn btn-success" type="submit">Register</button>
        </fieldset>

    }
</div>