@model UserCreatingViewModel
@using System.Web.Optimization
@using Sattelite.EntityFramework.ViewModels.Admin.User
@using Sattelite.Web
@{
    ViewBag.Title = "Create User";

    var allRoles = AppCach.AllRoles;
    var allCategories = AppCach.AllCategories;
}

@using (Html.BeginForm())
{
    <div class="box">
        <div class="box-head"> Новий користувач </div>
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <fieldset class="form">
            <div class="col-md-4">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DisplayName, new { @class = "control-label" })
                @Html.EditorFor(model => model.DisplayName, new { @class = "field" })
                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Password, new { Class = "", type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ConfirmPassword, new { Class = "", type = "password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4"></div>
             
            <div class="col-md-12">
                    @Html.Label("Role", new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.RoleId, new SelectList(allRoles, "Id", "Name", Model.RoleId), new { @class = "field" })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
        </fieldset>
        <div class="buttons">
            @Html.ActionLink("Всі користувачі", "Index", null, new { @class = "btn btn-info pull-left" })
            <a href="/Admin/User" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
}