@model ProjectRoleViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Role

@{
    ViewBag.Title = "Create Project Role";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box">
        <div class="box-head"> @ViewBag.Title </div>
        <div class="form">
            @Html.ValidationSummary(true)
            <p>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.ShortDescription)
                @Html.TextAreaFor(model => model.ShortDescription, new { Class = "field size1" })
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </p>
        </div>
        <div class="buttons">
            @Html.ActionLink("Всі проектні ролі", "Index", null, new { @class = "btn btn-info pull-left" })
            <input type="submit" class="btn btn-success" value="Створити">
        </div>
    </div>
}