@model CategoryEditingViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Category

@{
    ViewBag.Title = "Редагування категорії";
}

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CategoryId)

    <div class="box">
        <div class="box-head h5">@ViewBag.Title <b>@Model.Name </b></div>

        <div class="form">
            <p>
                <span class="req">max 100 symbols</span>
                <label for="Name" class="control-label">Назва категорії <span>(*)</span></label>
                @Html.TextBoxFor(x => x.Name, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>
            <p>
                <label for="Name" class="control-label">Опис </label>
                @Html.TextAreaFor(x => x.ShortDescription, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="buttons">
            <input type="submit" class="btn btn-success" value="Зберегти" />
        </div>
    </div>
}